body{
  background-color: #26303d;
}

.form-group{
  text-align: center;
  width: 35%;
  margin-left: 35%;
  font-size: 1.5rem;
  color: #fff;
}

.btn-primary{
  position: relative;
 
}

#game-type-select{
  font-size: 1.5rem;
  text-align: center;
}

#add-player{
  margin-left: 41%;
}

h1{
  margin-left: 40%;
  color: #fff;
}

h5{
  margin-left: 43%;
  color: #fff;
}

@media (max-width: 1028px) {

  #h1 {
    text-align: center;
  }