body{
  background-color: #26303d;
}

.form-group{
  text-align: center;
  width: 35%;
  margin-left: 35%;
  font-size: 1.5rem;
  color: #fff;
}

.btn-primary{
  position: relative;
 
}

#game-type-select{
  font-size: 1.5rem;
  text-align: center;
}

#add-player{
  margin-left: 41%;
}

h1{
  margin-left: 32%;
  margin-top: 7%;
  margin-bottom: 2%;
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Candal', sans-serif;
}

h5{
  margin-left: 41%;
  margin-bottom: 2%;
  color: #fff;
  font-family: 'Candal', sans-serif;
}

@media (max-width: 1028px) {

  #h1 {
    text-align: center;
  }}

